[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx = ">=1.8"
sphinx-bootstrap-theme = "*"
pygments-cl-repl = {git = "https://github.com/40ants/pygments-cl-repl.git",editable = true}
sphinxcontrib-cldomain = {git = "https://github.com/40ants/sphinxcontrib-cldomain.git",editable = true}

[requires]
python_version = "3.7"
